.ShoppingList{
    width: 45%;
    height: 60%;
    border: solid 1px black;
    float: left;
}
.Memberslist{
    width: 45%;
    height: 30%;
    border: solid 1px black;
    float: right;
    left: 700px;
}
.Calculations{
    width: 45%;
    height: 30%;
    border: solid 1px black;
    float: right;


}
.CList{
    border: solid 1px black;
    display: none;
}
.CCard{
    border: solid 1px black;
    display: none;

}
.PList{
    border: solid 1px black;
    display: none;

}
.PCard{
    border: solid 1px black;
    display: none;

}
.Settings{
    border: solid 1px black;
    width:400px;


}
.People{
    border: solid 1px black;
    width:400px;

}
.Contacts{
    width:400px;
    border: solid 1px black;

}
.Categories{
    width: 400px;
    border: solid 1px black;


}
.Event{
    border: solid 1px black;
}
.EventTable{
}
.EventTableName{
    border: solid 1px black;
    width: 200px;
}
.EventTableDate{
    border: solid 1px black;
    width: 50px;
}
.CategoryTable{
}
.CategoryTableName{
    border: solid 1px black;
    width: 200px;
}
.CategoryTableDescription{
    border: solid 1px black;
    width: 500px;
}
.CSTable{
}
.CSTableName{
    border: solid 1px black;
    width: 200px;
}
.CSTableDescription{
    border: solid 1px black;
    width: 200px;
}
.CPTable{
}
.CPTableName{
    border: solid 1px black;
    width: 200px;
}
.PLTable{
}
.PLTableName{
    border: solid 1px black;
    width: 100px;
}
.PLTableGroup{
    border: solid 1px black;
    width: 150px;
}
.PLTableCategories{
    border: solid 1px black;
    width: 300px;
}
.ContactsTable{
}
.ContactsTableName{
    border: solid 1px black;
    width: 100px;
}
.ContactsTableAddress{
    border: solid 1px black;
    width: 150px;
}
.PeopleCategoriesTable{
}
.PeopleCategoriesTableName{
    border: solid 1px black;
    width: 150px;
}
.EventCard{
    border: solid 1px black;
}
.ShopCard{
    border: solid 1px black;
    display: none;
}
.MemCard{
    border: solid 1px black;
    display: none;
}